[Unit]
Description=Run fan for x735 board
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 /usr/local/bin/x735fan run

[Install]
WantedBy=multi-user.target
